*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.folio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
}

.portfolio-item{
    margin-top:2%;
    border: 4px solid white;
    padding:2%;
    min-width:400px;
    height:340px;
    flex-basis:30%;
    flex-wrap:wrap;
    border-radius:3%;
}

#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:100%;
    flex-basis:100%;
    flex-wrap: wrap;

}
.featured{
    background-color: red;
    color:white;
    padding:2%;
    
}

.portfolio-content{
    position: relative;
    color:white;
    font-size:30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocNew{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    h2{
        font-size:12px;
        color:white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

.logiciel-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    margin-left: 11px;
}

.fond{
    background-color: gray;
    position: relative;
    bottom:0;
    right: 0;
    width: 50px;
    height:50px;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius:10%;
}

.ai{
    background-color: orange;
}

.ps{
    background-color: blue;
}

.afpublisher{
    background-color: orangered;
}

.afdesigner{
    background-color: darkblue;

}

.in{
    background-color: red;
}

.tagFond{
    display:flex;
    height:auto;
    color:white;
    background-color: grey;
    padding: 10px;
    border-radius:10%;
    flex-basis:100%;
}

.logo{
    background-color: green;
}

.web{
    background-color: lightseagreen;
}

.vector{
    background-color:cornflowerblue;
}

.portfolio-footer{
    position: relative;
    top: 60%;
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: center;    
    align-items: center;
    flex-wrap: nowrap;
}

.heart{
    font-size: 30px;
    color:white;
}

.tag{
    display: flex;
    flex-direction: row;
    margin-left:10px;
    flex-basis:100%;
}

.title{
    font-size:20px;
    padding-left: 20px;
}