*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.featured{
    background-color: red;
    color:white;
    padding:2%;
}

.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}